@model ProyectoComex.Models.Cliente
@section Scripts {
    <script src="~/js/getRazonSocial.js"></script>
}
@{
	ViewBag.Title = "Gestión de Clientes";
	ViewBag.Subtitle = "Editar cliente";
}


<div class="container">
    <h2>Editar cliente</h2>

    <form asp-action="Update" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label asp-for="CUIT" class="form-label"></label>
            <input asp-for="CUIT" content" class="form-control" id="cuitInput" />
            <span asp-validation-for="CUIT" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="RazonSocial" class="form-label"></label>
            <input asp-for="RazonSocial" type="text" class="form-control" id="razonSocialInput" placeholder="Ingrese su CUIL para averiguar su Razon Social..." />
            <span asp-validation-for="RazonSocial" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <label asp-for="Telefono" class="form-label"></label>
            <input asp-for="Telefono" class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Direccion" class="form-label"></label>
            <input asp-for="Direccion" class="form-control" />
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>

        <div class="form-check mb-3">
            <input asp-for="Activo" class="form-check-input" />
            <label asp-for="Activo" class="form-check-label"></label>
        </div>

        <input asp-for="Id" type="hidden" />

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
